<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react-dom.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/react-ace/5.1.0/react-ace.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.10.3/babel.min.js"></script>

<style type="text/css">
    .text { color: blue; }
  </style>

</head>
<body>
  <div id="content">
  </div>

  <script type="text/babel">
    import AceEditor from 'react-ace';

    const MyApp = (props) => {
        let myStyle = {
            backgroundColor: "red"
        };

        let title = "test";
        let list = [];
        for (let i=0; i<10; i++){
            list.push(<p className="text" style={myStyle} key={i.toString()}>list - {i}</p>);
        }

        return (
            <div>
                <h1>Hello World</h1>
                <p>{title}</p>
                <div>{list}</div>

                 <AceEditor
                    mode="java"
                    theme="github"
                    onChange={onChange}
                    name="UNIQUE_ID_OF_DIV"
                    editorProps={{$blockScrolling: true}}
                    />
            </div>
        );
    };

    ReactDOM.render(
        <MyApp/>,
        document.getElementById('content'));
  </script>
</body>
</html>
